/* 
    Document   : main
    Created on : Mar 1, 2013, 10:48:12 AM
    Author     : Daniil Sorokin <daniil.sorokin@student.uni-tuebingen.de>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    margin: 0px; 
    padding:0px;
}
table {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;  
    padding: 0px;
    margin: 0px;
}

tr {
    padding: 0px;
    margin: 0px;
}

td {
    padding: 0px;
    margin: 0px;
}

#the-table{
    position: absolute;
    display: block;
    border: 1px solid black;
    border-collapse:collapse;
    padding: 0px;
    margin: 0px;
}

#the-over-net {
    position: absolute;
    border: 1px solid black;
    border-collapse:collapse;
    padding: 0px;
    margin: 0px; 
}
#path-pointer{
    position: absolute;
    display: block;
    padding: 0px;
    margin: 0px;
    width: 12px; 
    height: 12px;
    z-index: 200;
    cursor: move;
}

#pictures-list{
    border: 1px solid grey;
    min-height:  104px;
}

#svg-container{
    display: block;
    position: absolute;
    padding: 0px;
    margin: 0px;
    z-index: 150;
}

#path-list {
    width: 100%;
    margin: 0px; 
    padding: 0px;
    list-style-type: none; 
}

#path-list .ui-selecting { 
    background: #FECA40; 
}

#path-list .ui-selected { 
    background: #F39814; 
    color: white; 
}

#path-list li { 
    margin: 2px; 
    padding: 0.4em; 
    font-size: 10pt; 
}

div.list-temp { 
    border: 1px dotted #666666;
    margin: 3px; 
    padding: 0.4em; 
    font-size: 10pt; 
    color: #666666;
}
            
#draw-path-button {
    width: 195px;
}

#deselect-paths-button{
    width: 195px;
}

#table-container { 
    left: 0; 
    top: 0;
    padding: 0px;
    margin-left:auto;
    margin-right:auto;
}

#paths-controls-container{
    width: 200px; 
    text-align: center; 
    vertical-align: top
}

td.cell-element{
    border: 1px solid black;
    width: 99px;
    height: 99px;
    padding: 0px;
}

td.net-element{
    border: 1px solid black;
    width: 20px;
    height: 20px;
    padding: 0px;
}

.over {
    background: #d8ecff;
}

.inDock {
    display: inline;
    padding: 2px 5px;
}

.inTable {
    display: block;
    padding: 0px;
    top: 0;
    left: 0;
}

img.cell-img {
    width: 100%;
    height: 100%;
    max-width: 99px;
    max-height: 99px;
    cursor: move;
}

div.mousescroll {
    overflow-y: scroll;
    overflow:-moz-scrollbars-vertical;
}

.ui-button {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 62.5%;
}

.hide-text{
    padding: 3px 8px;
}

.hide-bttn {
    float: right;
}